<header class="container">
  <h1>Find Flights</h1>
</header>
<main class="container">
  <div class="section">
    <%= form_with url: 'flights', method: 'get' do |f| %>
      <%= f.label :departure_airport_id, 'Departure airport:' %>
      <%= f.collection_select :departure_airport_id, Airport.order(:code), :id, :code %>
      <%= f.label :arrival_airport_id, 'Arrival airport:' %>
      <%= f.collection_select :arrival_airport_id, Airport.order(:code), :id, :code %>
      <%= f.label :num_tickets, 'Number of passengers' %>
      <%= select_tag(:num_tickets, options_for_select([1, 2, 3, 4])) %>
      <%= f.label :departure_date, 'Departure date' %>
      <%= select_tag(:departure_date, options_for_select(@flight_dates)) %>
      <%= f.hidden_field :search, value: true %>
      <%= f.submit 'Search' %>
    <% end %>
  </div>
</div class="section">
<% unless @flights.nil? %>
  <%= form_with url: 'bookings/new', method: 'get' do |f|%>
    <fieldset>
      <legend>Available flights</legend>
      <% @flights.each do |flight| %>
        <%= f.label :flight_id, value: flight.id do %>
          <%= f.radio_button :flight_id, flight.id %>
          <%= "#{flight.departure_airport.code} to #{flight.arrival_airport.code} #{flight.departure_time}" %>
        <% end %>
        <%= f.hidden_field :num_tickets, value: @num_tickets %>
      <% end %>
    </fieldset>
    <%= f.submit 'Book' %>
  <% end %>
<% end %>
</div>
<div data-controller="hello" class="section">
  <input type="text-area" data-action="hello#check" data-hello-target="textArea">
  <div data-hello-target="length"></div>
  <div data-hello-target="warning" style="display:none">10 char exceeded!</div>
  <button data-action="hello#check">test</button>
</div>
</main>
