<div class="container">
  <h1>Booking details</h1>
  <h2>Attendees</h2>
  <ul>
    <% @booking.passengers.each do |passenger| %>
      <li> <%= passenger.name %> </li>
    <% end %>
  </ul>
  <%= link_to 'Add new passenger', new_passenger_path(booking_id: @booking.id) %>
  <div data-controller="booking">
    <button data-action="click->booking#addPassenger">Add new passenger</button>
    <div data-booking-target="passengerForm" style="display:none">
      <h3>New passengers</h3>
      <%= form_with model: @passenger do |f|%>
        <%= f.fields_for :bookings, @booking do |booking_f| %>
          <%= booking_f.label :id, "Booking ID"%>
          <%= booking_f.text_field :id, value: "#{@booking.id}"  %>
        <% end %>
        <%= f.label :name, "Name:" %>
        <%= f.text_field :name %>
        <%= f.label :email, "Email:" %>
        <%= f.email_field :email %>
        <%= f.submit "Submit" %>
      <% end %>
    </div>
  </div>
  <h2>Flight details</h2>
  <div>Flight ID: <%= @booking.flight.id %> </div>
  <div>Departure airport: <%= @booking.flight.departure_airport.code %> </div>
  <div>Arrival airport: <%= @booking.flight.arrival_airport.code %> </div>
  <div>Departure time: <%= @booking.flight.departure_time %> </div>
</div>