<div class="container">
  <h1>Booking details</h1>
  <h2>Attendees</h2>
  <ul>
    <% @booking.passengers.each do |passenger| %>
      <li> <%= passenger.name %> </li>
    <% end %>
  </ul>
  <div data-controller="booking">
    <button data-action="click->booking#addPassenger">Add new passenger</button>
    <div data-booking-target="passengerForm" style="display:none">
      <h3>New passengers</h3>
      <%= form_with model: @booking, url: "#{@booking.id}", method: :patch do |f|%>
        <label for="booking_passengers_attributes_name">Name:</label>
        <input type="text" name="booking[passengers_attributes][][name]" id="booking_passengers_attributes_0_name">
        <label for="booking_passengers_attributes_email">Email:</label>
        <input type="email" name="booking[passengers_attributes][][email]" id="booking_passengers_attributes_0_email">
        <%= f.submit "Submit" %>
      <% end %>
    </div>
  </div>
  <h2>Flight details</h2>
  <div>Flight ID: <%= @booking.flight.id %> </div>
  <div>Departure airport: <%= @booking.flight.departure_airport.code %> </div>
  <div>Arrival airport: <%= @booking.flight.arrival_airport.code %> </div>
  <div>Departure time: <%= @booking.flight.departure_time %> </div>
</div>