<div class="container">
  <h1>New passengers</h1>
  <%= form_with model: @passenger do |f|%>
    <%= f.label :booking_id, "Booking ID"%>
    <%= f.text_field :booking_id, value: "#{params[:booking_id]}"  %>
    <%= f.label :name, "Name:" %>
    <%= f.text_field :name %>
    <%= f.label :email, "Email:" %>
    <%= f.email_field :email %>
    <%= f.submit "Submit" %>
  <% end %>
</div>